.custom-modal .modal-content {
  background-color: purple;
  color: white;
}

.custom-modal-header {
  background-color: purple;
  border-bottom: 1px solid purple; 
}

.custom-modal-body {
  background-color: purple;
  color: white;
}

.custom-modal-footer {
  background-color: purple;
  border-top: 1px solid purple;
}

.btn-primary {
  background-color: purple;
  border-color: purple;
}

.btn-primary:hover {
  background-color: rgb(237, 235, 237);
  border-color: rgb(235, 235, 235);
}

.btn-secondary {
  background-color: #6c757d;
  border-color: #6c757d;
}

.btn-secondary:hover {
  background-color: #5a6268;
  border-color: #545b62;
}
