/* S.css */
.login-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-form {
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 15px;
}

.btn-primary {
  background-color: #800080;
  border: none;
  color: white;
  transition: background-color 0.3s ease;
}

.btn-primary:hover {
  background-color: #660066; /* Une teinte légèrement plus foncée */
}

.btn-link {
  color: #FFD700; /* Jaune clair pour le bouton d'inscription */
  text-decoration: none;
}

.btn-link:hover {
  color: #E6C200; /* Une teinte légèrement plus foncée */
}

.alert-warning {
  background-color: #FFD700; /* Jaune clair pour l'alerte */
  color: black;
}
