.products-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.filters-section {
  flex: 1;
  max-width: 300px;
  margin-right: 20px;
}

.products-section {
  flex: 3;
}

.products-title {
  font-size: 2rem;
  font-weight: bold;
}

.underline {
  width: 100px;
  height: 4px;
  background-color: #ffcc00;
  margin: 0 auto;
  margin-top: 0.5rem;
}
