.container {
  max-width: 1200px;
  margin: auto;
  margin-top: -100px;
}

.filter-section {
  margin-top: -100px;
  /* margin-left:50%; */
  width: 0;
  background-color: #f8f9fa;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.filter-section h4 {
  color: #343a40;
  margin-bottom: 20px;
}

.filter-section .form-label {
  font-weight: bold;
  color: #343a40;
}

.filter-section .form-select {
  border-radius: 5px;
}

.products-title {
  margin-top: -300px;
  font-size: 2.5rem;
  color: #e79f06;
  font-family: 'Open Sans Condensed', sans-serif;
}

.underline {
  width: 100px;
  height: 4px;
  background-color: #e79f06;
  margin: 10px auto 20px;
}

.product-card {
  transition: transform 0.3s, box-shadow 0.3s;
  border-radius: 10px;
  overflow: hidden;
}

.product-card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card-header {
  background-color: #343a40;
  color: white;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 1.5rem;
}

.card-title {
  color: #820001;
  font-weight: bold;
  margin-top: 10px;
}

.product-image {
  height: 200px;
  width: 100%;
  object-fit: cover;
  border-radius: 5px;
}

.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
  border-radius: 5px;
}

.btn-primary:hover {
  background-color: #0056b3;
  border-color: #004085;
}
