/* style.css */

body {
  margin: 0;
  padding: 0;
}

.main-container {
  padding-top: 100px; /* Ajustez cette valeur pour compenser la hauteur de la navbar */
}

.navbar {
  position: fixed;
  width: 100%;
  z-index: 1000;
}

.container-fluid {
  padding: 0;
}

.pt-5 {
  padding-top: 5rem !important;
}
