.content {
  padding: 20px;
  width: calc(100% - 220px); /* Assurez-vous que la largeur est ajustée selon la largeur de la barre latérale */
  margin-left: 220px; /* La même largeur que votre barre latérale pour aligner correctement */
}

.table-responsive-sm {
  overflow-x: auto;
}
