/* styles.css */

.custom-navbar {
    background-color: #728eaa; /* Bleu foncé */
  }
  
  .navbar-brand {
    font-size: 1.5rem;
    letter-spacing: 0.05rem;
  }
  
  .navbar-nav .nav-link {
    font-size: 1.1rem;
  }
  
  button {
    transition: background-color 0.3s, color 0.3s;
  }
  
  button:hover {
    background-color: #105e56;
    color: #496f94;
  }



.custom-logout-btn {
    background-color: #728eaa;
    border: none;
    color: white;
  }
  
  .custom-logout-btn:hover {
    background-color: #5f7790;
    color: white;
  }
  
  